@use './variables' as *;

.calculator-outer-container{
    // background-color: $darkLinen;
    margin-top: 80px;
    padding: 25px;
    margin-bottom: 50px;
    color: $raisinBlack;

    .calculator-bar-container{
        width: 80%;
        margin: auto;
        position: relative;
        // border: $border;
        margin-bottom: 15px;
        min-height: 60px;
        height: fit-content;
    }

    .select-container{
        height: fit-content;
        width: fit-content;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: 45%;
            right: 10%;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $lightCora;
        }
    }

    select{
        padding: 20px 30px 20px 20px;
        font-size: 18px;
        margin: 10px 10px 10px 0;
        border: 1px solid $blueYonderAlpha;
        background-color: $darkLinen;
        position: relative;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand{
            display: none;
        }

        &:focus{
            outline-color: $lightCora;
        }
    }

    .calculator-bar{
        transition: .2s;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        // width: 100%;
        text-align: center;
        color: $linen;
        font-size: 24px;
        height: 100%;
        background-color: $lightCora;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        // box-shadow: 4px ​4px 35px 5px black;

        p {
            margin: 0;
            padding: 0 15px;
        }

    }

    .calculator-button{
        padding: 20px 20px;
        font-size: 18px;
        margin: 10px 10px 10px 0;
        border: none;
        background-color: $darkLinen;
        border: 1px solid $blueYonderAlpha;
        border-radius: 5px;
        transition: .2s;

        &:focus{
            outline-color: $lightCora;
        }
    }

    .calculator-button-clicked{
        transition: .2s;
        color: $linen;
        background-color: $lightCora;
    }

    h1{
        text-align: center;
        font-size: 43px;
        font-weight: 400;
        position: relative;
        width: fit-content;
        margin: auto;
        padding: 25px 0px 15px 0;
        margin-bottom: 55px;

    
        &::before{
          content: '';
          background-color: $blueYonderAlpha;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 3px;
        }
    
        &::after{
          content: '';
          background-color: $lightCora;
          position: absolute;
          bottom: 0;
          right: 42.5%;
          height: 3px;
          width: 15%;
        }
      }
}